[Unit]
Description=Toggle dark/light theme with Sunrise/Sunset times

[Service]
Type=oneshot
ExecStart=%h/.local/bin/toggle-theme.sh

[Install]
WantedBy=default.target
